* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-row {
  padding-top: 4vw;
  width: 100%;
  height: 12vw;
  background-color: cornflowerblue;
  position: relative;
}
.row {
  position: absolute;
  animation: moveRow 8s linear infinite;
}
.row:hover {
  animation-play-state: paused;
}
.row p {
  width: 200%;
  background-color: white;
  font-size: 3.75vw;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes moveRow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.container-circle {
  width: 50%;
  height: 40vw;
  border: 4px solid cornflowerblue;
}
.circle {
  width: 18vw;
  height: 18vw;
  background-color: cornflowerblue;
  border-radius: 100%;
  animation: moveCircle 8s ease-in infinite;
  transition: all 0.6s linear;
}
.circle:hover {
  animation-play-state: paused;
  background-color: coral;
  transition: all 0.6s ease;
}
@keyframes moveCircle {
  0% {
    transform: translate(20%, 10%);
  }
  20% {
    transform: translate(80%, 30%);
  }
  40% {
    transform: translate(100%, 70%);
  }
  60% {
    transform: translate(75%, 65%);
  }
  80% {
    transform: translate(30%, 20%);
  }
  100% {
    transform: translate(20%, 10%);
  }
}

.clock {
  width: 300px;
  height: 100px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.clock-element {
  width: 60px;
  height: 100%;
  background-color: cornflowerblue;
  color: white;
  border-radius: 10px;
  position: relative;
}
.clock-element > div {
  width: 100%;
  line-height: 100px;
  font-size: 60px;
  text-align: center;
  position: absolute;
}
.clock-divider {
  width: 20px;
  height: 100%;
  color: cornflowerblue;
  text-align: center;
  line-height: 100px;
  font-size: 60px;
}
.sec-e {
  animation: edinitsa 10s steps(10) infinite;
}
.sec-d {
  animation: desyatok 60s steps(6) infinite;
}
.min-e {
  animation: edinitsa 600s steps(10) infinite;
}
.min-d {
  animation: desyatok 3600s steps(6) infinite;
}
@keyframes edinitsa {
  0% {
    top: 0;
  }
  100% {
    top: -1000%;
  }
}
@keyframes desyatok {
  0% {
    top: 0;
  }
  100% {
    top: -600%;
  }
}

.example {
  background-color: red;
  width: 69.9vw;
  height: 36.9vw;
}
