* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* .container {
  width: 100%;
  height: 100%;
  border: 2px dashed black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.item {
  width: 25%;
  height: 25vw;
  background-color: cornflowerblue;
  border: 2px solid #eee;
  color: white;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }
} */

.header-item,
.left-main-item {
  border: 1px solid blue;
  width: 10vw;
  height: 10vw;
  background-repeat: no-repeat;
  background-size: contain;
}

/* header */
.header {
  width: 100%;
  height: 10vw;
  display: flex;
}
.header-item {
  transform: rotate(-90deg);
}
.header-item:nth-of-type(1) {
  background-image: url('images/12.svg');
}
.header-item:nth-of-type(2) {
  background-image: url('images/11.svg');
}
.header-item:nth-of-type(3) {
  background-image: url('images/15.svg');
  transform: rotate(0);
}
.header-item:nth-of-type(4) {
  background-image: url('images/14.svg');
}
.header-item:nth-of-type(5) {
  background-image: url('images/16.svg');
}
.header-item:nth-of-type(6) {
  background-image: url('images/13.svg');
}
.header-item:nth-of-type(7) {
  background-image: url('images/20.svg');
}
.header-item:nth-of-type(8) {
  background-image: url('images/32.svg');
}
.header-item:nth-of-type(9) {
  background-image: url('images/29.svg');
}
.header-item:nth-of-type(10) {
  background-image: url('images/30.svg');
}
/* main */
.main {
  width: 100%;
  height: 80vw;
  display: flex;
}
.left-main {
  width: 21%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.left-main-item:nth-of-type(1) {
  background-image: url('images/36.svg');
}
.left-main-item:nth-of-type(2) {
  background-image: url('images/31.svg');
}
.left-main-item:nth-of-type(3) {
  background-image: url('images/29.svg');
}
.left-main-item:nth-of-type(4) {
  background-image: url('images/30.svg');
}
.left-main-item:nth-of-type(5) {
  background-image: url('images/25.svg');
}
.left-main-item:nth-of-type(6) {
  background-image: url('images/26.svg');
}
.left-main-item:nth-of-type(7) {
  background-image: url('images/24.svg');
}
.left-main-item:nth-of-type(8) {
  background-image: url('images/23.svg');
}
.left-main-item:nth-of-type(9) {
  background-image: url('images/19.svg');
}
.left-main-item:nth-of-type(10) {
  background-image: url('images/18.svg');
}
.left-main-item:nth-of-type(11) {
  background-image: url('images/4.svg');
}
.left-main-item:nth-of-type(12) {
  background-image: url('images/6.svg');
}
.left-main-item:nth-of-type(13) {
  background-image: url('images/8.svg');
}
.left-main-item:nth-of-type(14) {
  background-image: url('images/7.svg');
}
.left-main-item:nth-of-type(15) {
  background-image: url('images/2.svg');
}
.left-main-item:nth-of-type(16) {
  background-image: url('images/17.svg');
}
.left-main-item:nth-of-type(17) {
  background-image: url('images/13.svg');
}
.left-main-item:nth-of-type(18) {
  background-image: url('images/16.svg');
}
.left-main-item:nth-of-type(19) {
  background-image: url('images/20.svg');
}
.left-main-item:nth-of-type(20) {
  background-image: url('images/32.svg');
}
.right-main {
  width: 79%;
  height: 80vw;
  display: flex;
  flex-direction: column;
}
.right-main-item {
  width: 100%;
  height: 40vw;
  color: white;
  font-size: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-main-item:nth-of-type(1) {
  background-color: blue;
}
.right-main-item:nth-of-type(2) {
  background-color: red;
}
.none {
  display: none;
}

@media screen and (max-width: 767px) {
  .none {
    display: block;
  }
  .header {
    flex-wrap: wrap;
    height: 40vw;
  }
  .header-item,
  .left-main-item {
    width: 20%;
    height: 20vw;
  }
  .main {
    flex-direction: column-reverse;
    height: 100%;
  }
  .right-main {
    width: 100%;
    display: block;
  }
  .left-main {
    width: 100%;
    flex-wrap: wrap;
  }
}
